<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<div class="three-quarters-card-center center">
  <p>We'd love to hear from you! Please write us a message, we'll be sure to get back to you as soon as possible!</p>
</div>