<div class="wrapper">
  <div id="left-half-div">
    <!-- Populated by backbone -->
  </div>
  <div id="navigation-div">
    <!-- Populated by backbone -->
  </div>
  <div id="right-half-div">
    <!-- Populated by backbone -->
  </div>
</div>