<div class="wrapper">
  <div id="left-half-div">
    <!-- Populated by backbone -->
  </div>
  <div id="navigation-div">
    <div id="nav-region"><!-- Populated by backbone --></div>
    <div id="filter-region"><!-- Populated by backbone --></div>
  </div>
  <div id="right-half-div">
    <!-- Populated by backbone -->
  </div>
</div>