<% provide(:title, 'Home') %>
<h1>IRIS</h1>
<p>A University Club dedicated to solving robotic mining problems. This will eventually have a feed for non logged in users of the current happenings in IRIS. For logged in users this will be personalized.</p>
