<% provide(:title, 'Sponsors') %>
<!-- <h1 class="centered">Our Sponsors</h1> -->
<!-- <div class="sponsor-wrapper">
  <div class="sponsor-card row">
    <div class="col-md-3 logo">
      <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1411427776/timotion_nktfhw.jpg">
      <h5>Support Tier: Gold</h5>
    </div>
    <div class="col-md-9">
      <p>We have the talent. We have the passion. We need help from generous companies willing to support Illinois Robotics in Space as we build autonomous and innovative mining robots.</p>
      <p>Interested in supporting our team? We'd love to talk to you! The best way to learn everything to know about sponsorship is through our <a href='/sponsors_packet' target="blank">Sponsorship Packet</a>. Take a look, and contact us at <a href="mailto:iris.uiuc@gmail.com">iris.uiuc@gmail.com</a> if you have any questions!</p>
    </div>
  </div>
  <div class="sponsor-card row">
    <div class="col-md-3 logo">
      <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1426888102/RockwellCollinsLogo_ncjn9f.jpg">
      <h5>Support Tier: Gold</h5>
    </div>
    <div class="col-md-9">
      <p>We have the talent. We have the passion. We need help from generous companies willing to support Illinois Robotics in Space as we build autonomous and innovative mining robots.</p>
      <p>Interested in supporting our team? We'd love to talk to you! The best way to learn everything to know about sponsorship is through our <a href='/sponsors_packet' target="blank">Sponsorship Packet</a>. Take a look, and contact us at <a href="mailto:iris.uiuc@gmail.com">iris.uiuc@gmail.com</a> if you have any questions!</p>
    </div>
  </div>
  <div class="sponsor-card row">
    <div class="col-md-3 logo">
      <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1426888102/SouthernImperialLogo_cxtb5p.jpg">
      <h5>Support Tier: Gold</h5>
    </div>
    <div class="col-md-9">
      <p>We have the talent. We have the passion. We need help from generous companies willing to support Illinois Robotics in Space as we build autonomous and innovative mining robots.</p>
      <p>Interested in supporting our team? We'd love to talk to you! The best way to learn everything to know about sponsorship is through our <a href='/sponsors_packet' target="blank">Sponsorship Packet</a>. Take a look, and contact us at <a href="mailto:iris.uiuc@gmail.com">iris.uiuc@gmail.com</a> if you have any questions!</p>
    </div>
  </div>
  <div class="sponsor-card row">
    <div class="col-md-9">
      <h3>You?</h3>
      <p>We have the talent. We have the passion. We need help from generous companies willing to support Illinois Robotics in Space as we build autonomous and innovative mining robots.</p>
      <p>Interested in supporting our team? We'd love to talk to you! The best way to learn everything to know about sponsorship is through our <a href='/sponsors_packet' target="blank">Sponsorship Packet</a>. Take a look, and contact us at <a href="mailto:iris.uiuc@gmail.com">iris.uiuc@gmail.com</a> if you have any questions!</p>
    </div>
    <div class="col-md-3">
      <%= image_tag 'systems_engineering.png' %>
    </div>
  </div>
</div> -->