<% provide(:title, 'Sponsors') %>
<!-- <h1 class="centered">Our Sponsors</h1> -->
<h1 class="centered">Why Sponsor IRIS?</h1>
<div class="three-quarters-card-center">
  <div class="img-container2"><%= image_tag 'about_pic3.png' %></div>
  <!-- <div class="img-container3"><%#= image_tag 'about_pic4.png' %></div> -->
  <p>Sponsorship has allowed us to continue to build upon our educational outreach team and improve the quality of our technical projects. In the past, our sponsors have been well represented on NASA's channels through logo placement on our robot. Your company's sponsorship helps to:</p>
  <ul>
    <li>Spread an interest in STEM fields in local schools</li>
    <li>Provide a quality competitor in NASA's Robotic Mining Competition</li>
    <li>Improve student's technical skills so they are better prepared to enter industry work.</li>
    <li>Encourage students to investigate solutions to real-world problems</li>
  </ul>
  <p>Our projects would not be possible without the support we have received from sponsors. We have high hopes for our organization this year, and would be glad for you to be a part of our team.</p>
  <p>Explore our website! Find out what we're doing! Look at our <%= link_to "about page", about_path %> to read about our mission statement, the status of the robot, and our educational outreach! Check out our <%= link_to "home page", root_path %> to see how IRIS keeps its members with up-to-date information to work their best.</p>
</div>


<h1 class="centered">Past Sponsors</h1>
<div class="three-quarters-card-center">
  <h3 class="sponsor-year">2013-2014</h3>
  <div class="sponsor-container">
    <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1411427776/timotion_nktfhw.jpg">
  </div>
  <div class="sponsor-container">
    <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1411427776/northrop_grumman_logo_uhyb7h.jpg">
  </div>
</div>