<% provide(:title, 'Sponsors') %>
<a class="sponsor-us circle-div" href="#sponsor-us"><span>Looking to sponsor IRIS?</span></a>
<div class="sponsor-wrapper">
  <h3 class="tier-label">Stellar Sponsors</h3>
  <div class="column-left">
    <div class="sponsor-card">
      <a href="http://aerospace.illinois.edu/" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1427683530/aero_logo_iqlf8g.png"></a>
      <p>The Aerospace Engineering Department continues to support IRIS as one of its featured student organizations.</p>
    </div>
    <div class="sponsor-card">
      <a href="https://wiki.cites.illinois.edu/wiki/display/EDC/Home" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1427770542/EngineeringDesignCouncilLogo_mywqvw.png" style="width: 75%"></a>
      <p>The Engineering Design Council supports engineering teams in the College of Engineering.</p>
    </div>
  </div>
  <div class="column-right">
    <div class="sponsor-card">
      <a href="http://union.illinois.edu/get-involved/student-organization-resource-fee" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1427689202/SorfLogo_rztquf.jpg" style="width: 75%;"></a>
      <p>SORF supports student organizations across the UIUC campus, and continues to sponsor IRIS for the fifth year running. Their student board of reviewers has consistently seen the value that IRIS provides to its team members.</p>
    </div>
  </div>
  <h3 class="tier-label">Gold Sponsors</h3>
  <div class="column-left">
    <div class="sponsor-card">
      <a href="http://rockwellcollins.com/" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1426888102/RockwellCollinsLogo_ncjn9f.jpg"></a>
      <p>Rockwell Collins is an Aerospace industry leader in robotic and aviation controls as well as autonomous systems.</p>
    </div>
    <div class="sponsor-card">
      <a href="http://www.southernimperial.com/" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1426888102/SouthernImperialLogo_cxtb5p.jpg"></a>
      <p>Southern Imperial has lent expertise and machines to precision manufacture the IRIS V frame.</p>
    </div>
  </div>
  <div class="column-right">
    <div class="sponsor-card">
      <a href="https://www.ieee.org/index.html" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1426890487/IEEELogo_bjstmy.png" style="width: 65%;"></a>
      <p>The Institute of Electrical and Electronics Engineers is the wold's largest profesional association for the advancement of technology.</p>
    </div>
    <div class="sponsor-card">
      <a href="http://www.4pcb.com/" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1427742664/AdvancedCircuitsLogo_o4ha6h.jpg"></a>
      <p>Advanced Circuits, the third largest PCB manufacturer in North America, has donated free circuit boards for the IRIS robot.</p>
    </div>
  </div>
  <h3 class="tier-label">Partner Sponsors</h3>
  <div class="column-left">
    <div class="sponsor-card">
      <a href="http://www.timotion.tw/" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1411427776/timotion_nktfhw.jpg"></a>
      <p>For the second year in a row, TiMotion has donated high quality linear actuators to IRIS.</p>
    </div>
  </div>
  <div class="column-right">
    <div class="sponsor-card">
      <a href="http://www.gzhtdq.com/" target="blank"><img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1426890487/GSpaceAllianceLogo_lerzv7.jpg" style="width: 40%;"></a>
      <p>Guizhou Space Appliance Co., ltd has donated electrical connectors to ensure reliable electronic systems on the IRIS V robot.</p>
    </div>
  </div>
  <!-- Sign up -->
  <div id="sponsor-us" class="sponsor-card row long">
    <div class="col-md-9">
      <h3>You?</h3>
      <p>We have the talent. We have the passion. We need help from generous companies willing to support Illinois Robotics in Space as we build autonomous and innovative mining robots.</p>
      <p>Interested in supporting our team? We'd love to talk to you! The best way to learn everything to know about sponsorship is through our <a href='/sponsors_packet' target="blank">Sponsorship Packet</a>. Take a look, and contact us at <a href="mailto:iris.uiuc@gmail.com">iris.uiuc@gmail.com</a> if you have any questions!</p>
    </div>
    <div class="col-md-3">
      <%= image_tag 'systems_engineering.png' %>
    </div>
  </div>
</div>