<% provide(:title, 'Sponsors') %>
<!-- <h1 class="centered">Our Sponsors</h1> -->
<h1 class="centered">Past Sponsors</h1>
<div class="three-quarters-card-center">
  <h3 class="sponsor-year">2013-2014</h3>
  <div class="sponsor-container">
    <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1411427776/timotion_nktfhw.jpg">
  </div>
  <div class="sponsor-container">
    <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1411427776/northrop_grumman_logo_uhyb7h.jpg">
  </div>
</div>