<% provide(:title, 'Sponsors') %>
<!-- <h1 class="centered">Our Sponsors</h1> -->
<div class="sponsor-wrapper">
  <div class="sponsor-card info">
    <h3>Why Sponsor IRIS?</h3>
    <p>Sponsorship has allowed us to continue to build upon our educational outreach team and improve the quality of our technical projects. In the past, our sponsors have been well represented on NASA's channels through logo placement on our robot. Your company's sponsorship helps to:</p>
    <ul>
      <li>Spread an interest in STEM fields in local schools</li>
      <li>Provide a quality competitor in NASA's Robotic Mining Competition</li>
      <li>Improve student's technical skills so they are better prepared to enter industry work.</li>
      <li>Encourage students to investigate solutions to real-world problems</li>
    </ul>
    <p>Our projects would not be possible without the support we have received from sponsors. We have high hopes for our organization this year, and would be glad for you to be a part of our team.</p>
    <p>To get more information on our sponsorship package, have a look at our <a href="/sponsors_packet" target="_blank">Sponsorship Packet</a>.</p>
  </div>
  <div class="sponsor-card image">
  <%= image_tag 'systems_engineering.png' %>
  </div>
  <div class="sponsor-card image">
    <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1411427776/timotion_nktfhw.jpg">
  </div>
  <div class="sponsor-card image">
    <img src="http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1411427776/northrop_grumman_logo_uhyb7h.jpg">
  </div>
</div>