<% provide(:title, "Tasks") %>
<h1>Tasks</h1>
<% @tasks.each do |task| %>
<%= render partial: 'shared/basic_presenter', locals: {title: task.title, content: task.content, pictures: task.pictures} %>
<% end %>
