<% provide(:title, 'All users') %>
<div class="container-left">
<% @users.each_with_index do |user, index| %>
	<% if index.even? %><%= render partial: 'user', locals: { user: user} %><% end %>
<% end %>
</div>
<div class="container-right">
<% @users.each_with_index do |user, index| %>
	<% if index.odd? %><%= render partial: 'user', locals: {user: user} %><% end %>
<% end %>
</div>