<% provide(:title, 'All users') %>
<div class="three-quarters-card-center">
  <h3 class="users-prompt">IRIS Members</h3>
  <ul class="users">
  	<%= render @users %>
  </ul>

  <%= will_paginate %>
</div>