<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="three-quarters-card-center">
  <h3 class="users-prompt">Click on a user to read all about them</h3>
  <ul class="users">
  	<%= render @users %>
  </ul>

  <%= will_paginate %>
</div>