<div class="half-width-card-center">
  <div class="information-container">
    <h3><%= title %></h3>
    <p><%= markdown(content) %></p>
  </div>
  <div class="picture-container">
  <% pictures.each do |picture| %>
    <div class="picture-wrapper">
      <a href="<%= picture.avatar_url %>"><%= image_tag picture.avatar_url %></a>
    </div>
  <% end %>
  </div>
</div>