<%= f.label :pictures, label %>
<div class="file-input-container">
  <div class="file-input-wrapper"></div>
  <%= f.file_field :pictures, :multiple => true, class: 'file-input' %>
  <div class="file-input-preview"></div>
</div>