<div class="half-width-card-center subteam">
  <div class="info-container">
    <%= subteam.description %>
  </div>
  <div class="users-container">
    <%= render partial: 'shared/subteam_users', locals: {users: subteam.users} %>
  </div>

</div>