<% provide(:title, "Updates") %>
<h1>Iris Updates</h1>
<% @updates.each do |update| %>
<%= render partial: 'shared/basic_presenter', locals: {title: update.title, content: update.content, pictures: update.pictures} %>
<% end %>