<!-- <div class="filter-link-header">
  <div class="info">
    FILTER
  </div>
  <div class="info active-info">
  </div>
</div>
<div class="filters-container">
  <div class="filter-link" data-filter="all">
    <div class="info">
      ALL
    </div>
  </div>
  <div class="filter-link" data-filter="general">
    <div class="info">
      GEN
    </div>
  </div>
  <div class="filter-link" data-filter="team">
    <div class="info">
      TEAM
    </div>
  </div>
  <div class="filter-link" data-filter="subteam">
    <div class="info">
      SUB
    </div>
  </div>
</div> -->