<i class="fa fa-<%= symbol %>"></i>
<div class="subnav left-subnav hidden">
  <ul class="subnav-menu">
    <li class='subnav-link' data-filter="important" data-side="left">Important to me</li>
    <li class='subnav-link' data-filter="subteam" data-side="left">My subteam</li>
    <li class='subnav-link' data-filter="team" data-side="left">My team</li>
    <li class='subnav-link' data-filter="all" data-side="left">All</li>
  </ul>
</div>
<div class="subnav right-subnav hidden">
  <ul class="subnav-menu">
    <li class='subnav-link' data-filter="important" data-side="right">Important to me</li>
    <li class='subnav-link' data-filter="subteam" data-side="right">My subteam</li>
    <li class='subnav-link' data-filter="team" data-side="right">My team</li>
    <li class='subnav-link' data-filter="all" data-side="right">All</li>
  </ul>
</div>