@import "bootstrap";
@import "colors";

$grayMediumLight: #eaeaea;

/* header */
header {
	margin: 0;
	background-color: $darkPrimary;
	height: 59px;
	box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
	&.navbar-fixed-top {
		border: none;
		margin: 0;
	}
	.navbar-inner	{
		height: 59px;
		nav {
			height: 59px;
			ul {
				height: 59px;
				li {
					height: 59px;
					a {
						color: $lightText;
						height: 59px;
						padding: 18px;
						&:hover {
							background-color: $primary;
						}
						&:focus {
							background-color: $primary !important;
						}
					}
					.dropdown-menu {
						padding: 0;
						border: none;
						background-color: $darkPrimary;
						li {
							background-color: $darkPrimary;
						}
					}
				}
			}
		}
		.logo-container {
			height: 100%;
			padding: 5px;
			width: 50%;
			float: left;
			a {
				margin-left: 10px;
			}
		}
	}
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $lightText;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: $lightText;
		text-decoration: none;
	}
}
.logo-pic {
	float: left;
	width: 40px;
}

/* footer */

.footer-container {
	width: 100%;
	height: 18%;
	padding: 10px;
	box-shadow: 0 -2px 2px rgba(0,0,0,0.2);
	z-index: 1000;
	position: relative;
	.footer-info {
		height: 100%;
		width: 100%;
		.footer-heading {
			float: left;
			width: 20%;
			padding: 10px;
			h3 {
				color: $primaryText;
				margin: 0;
			}
			p {
				color: $primaryText;
				line-height: 1.2em;
			}
		}
		.member-of-week {
			float: left;
			width: 79.99%;
			padding: 10px;
			height: 100%;
			img {
				float: left;
				max-height: 100%;
				max-width: 15%;
			}
			.info-container {
				padding-left: 10px;
				float: left;
				max-width: 85%;
				h3 > a { margin: 0; }
				p {
					color: $primaryText;
					line-height: 1.2em;
					font-size: 1em;
				}
			}
			// .award-description {
			// 	padding-left: 10px;
			// 	float: left;
			// 	max-width: 65%;
			// 	p {
			// 		color: #fff;
			// 		line-height: 1.2em;
			// 	}
			// }
		}
	}
}