@import "bootstrap";

/* universal styling */

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box_sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
  margin: 0;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
  text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

.centered {
  text-align: center;
}


.footer {
	width: 100%;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* Card styling */
.full-width-card, .half-width-card-left, .half-width-card-right, .half-width-card-center, .three-quarters-card-center {
  background-color: #51668C;
  overflow: hidden;
  padding: 10px;
  p {
    color: #fff;
  }
  li {
    font-size: 1.1em;
    color: #fff;
    margin: 5px 0;
  }
  a {
    color: #D17918;
    &:hover {  color: #fff;}
  }
  h1, h2, h3, h4, h5, h6 {
    color: #D17918;
    margin: 0 0 5px 0;
  }
}

.full-width-card {
	width: 100%;
  margin: 20px 0;
}

.half-width-card-left {
	width: 48%;
	float: left;
  margin: 20px 0 10px 20px;
}

.half-width-card-right {
	width: 48%;
	float: right;
  margin: 20px 10px 20px 0;
}

.half-width-card-center {
  width: 50%;
  margin: 20px auto;
  .information-container {
    h3 {
      margin-top: 0;
    }
  }
  .picture-container {
    .picture-wrapper {
      width: 30%;
      padding-right: 3%;
      padding-top: 10px;
      float: left;
      img { width: 100%;}
    }
  }
}

.three-quarters-card-center {
  width: 75%;
  margin: 20px auto;
}

/* Input boxes */

.btn {
  width: auto;
}

div.file-input-container {
  position: relative;
  min-height: 60px;
  width: 100%;
  border: 1px solid #000;
  padding: 5px;
  margin: 0 0 10px 0;
  overflow: hidden;

  input.file-input {
    position: absolute;
    left: -999px;
    top: -999px;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  }

  div.file-input-wrapper {
    width: 86px;
    height: 24px;
    margin: 0;
    background-image: url("http://res.cloudinary.com/illinois-robotics-in-space/image/upload/v1410724721/file_upload_button_a7eddh.png");
    overflow: hidden;
    cursor: pointer;
    float: left;
  }

  div.file-input-preview {
    float: left;
    margin-left: 20px;

    div {
      float: left;
      margin-right: 5px;
      padding: 3px;
      background-color: #666;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Applied classes via JS */
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}
.tooltip-bottom {
  width: 100px;
}