@import "bootstrap";
@import "colors";

.display-item-card {
  p {
    margin: 0;
    color: $primaryText;
  }
}

.info-container {
  float: left;
  margin-left: 0;
  width: calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  h3 {
    margin: 0;
    a {
      margin: 0;
      display: block;
      font-size: 20px;
      color: $primary;
    }
  }
  a {
    color: $accent;
    &:hover { color: $primaryText;}
  }
  .user-name {
    margin-left: 10px;
  }
  .user-email {
    margin-left: 10px;
  }
  .content-container>p {
    line-height: 18px;
  }
}

/* Users */
.top-container {
  overflow: hidden;
}
.user-pic {
  float: left;
  width: 50px;
  height: 50px;
}
.user-bio {
  margin-left: 10px;
  color: #fff;
}



/* Tasks */
.pic-container {
  float: right;
  margin-left: 5px;
  img {
    display: block;
    padding-bottom: 5px;
    width: 50px;
  }
}

/* Tests */
.frontpage-test {
  min-height: 110px;
  .circle-div {
    position: absolute;
  }
  .test-index {
    height: 30px;
    width: 30px;
    top: 10px;
    right: 10px;
  }
  .completed {
    height: 30px;
    width: 30px;
    top: 50px;
    right: 10px;
    background-color: $complete;
  }
  .incomplete {
    height: 30px;
    width: 30px;
    top: 90px;
    right: 10px;
    background-color: $error;
  }
}

/* Tutorials */
.tut-info-container {
  padding: 10px;
  padding-bottom: 0;
  h3 {
    margin: 0;
    a {
      margin: 0;
      display: block;
      font-size: 20px;
      color: #fff;
    }
  }
  a {
    color: #eee;
  }
  p {
    margin: 0;
    color: #fff;
  }
  .instruction-toggle, .instruction-expand, .instruction-collapse {
    cursor: pointer;
  }
}

.instructions-container {
  .instruction-container {
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    .title-order-container {
      position: relative;
      h4 {
        margin: 0;
        color: #fff;
      }
      p {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
      }
    }
    .instruction-content {
      .content-container {
        color: #fff;
      }
      .pic-container {
        width: 100%;
        img {
          float: left;
          padding-right: 10px;
        }
      }
    }
    &:nth-child(even) {
      background: #999;
    }
    &:nth-child(odd) {
      background: #ccc;
    }
  }
}

/* Calendar View */
.calendar-wrapper {
  padding: 20px 0;
  height: 100%;
  width: 100%;
  .calendar-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  }
}

a.edit-link {
  color: #999;
  &:hover { color: #fff;}
}