@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box_sizing: border-box;
}

$grayMediumLight: #eaeaea;

/* User New page */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

/* User Show page */

.user-header-info {
	.user-profile-info {
		overflow: hidden;
		img {
			width: 33%;
			float: left;
			display: block;
			margin-right:10px;
		}
		.name { 
			float: left;
			margin: 0 0 10px 0px;
			width: 64%;
			h3 { margin: 0px; }
		}
		.description {
			margin: 0 0 0 10px;
		}
	}
}

.team-memberships {
	.teams {
		margin-bottom: 20px;
	}
	h4 {
		margin-top: 0;
	}
}

.add-teams-container {
	padding: 10px;
	background-color: #aaa;
}

#join_teams {
	input { margin: 0 4px 0 0; }
	.team-options, .subteam-options {
		margin: 5px 0 15px 0;
		input {
			display: block;
			float: left;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid #999;
		&:last-child {
			border-bottom: 1px solid #999;
		}

		.user-index-pic {
			max-height: 50px;
		}
	}
}
.users-prompt {
	margin: 10px 40px;
}

.pagination {
	margin: 20px;
}